<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html ng-app="edunova">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="../js/superadmin.js"></script>
        <script src='../js/angular_app/lib/angular/angular.js' type="text/javascript"></script>
        <script src='../js/angular_app/lib/angular/angular-resource.js' type="text/javascript"></script>
        <script src='../js/angular_app/app.js' type="text/javascript"></script>
        <script src='../js/angular_app/controllers.js' type="text/javascript"></script>
        <script src='../js/angular_app/services.js' type="text/javascript"></script>
        <link href="../css/commonStyles.css" type="text/css" rel="stylesheet"/>
    </head>
    <body ng-controller="SuperAdminController" ng-init="init()">
        <div id='divTblList'>
            <input type='button' value="Create a School" id='btnAddSchool'/>
            <table id="tblSchoolList">
                <thead>
                    <tr>
                        <th>School Name</th>
                        <th>Address 1</th>
                        <th>Address 2</th>
                        <th>Phone Number 1</th>
                        <th>Phone Number 2</th>
                        <th>Edit</th>
                        <th>Enable/Disable</th>
                    </tr>
                </thead>
                <tr ng-repeat="school in schools">
                    <td>[[school.schoolName]]</td>
                    <td>[[school.addressLine1]]</td>
                    <td>[[school.addressLine2]]</td>
                    <td>[[school.phone1]]</td>
                    <td>[[school.phone2]]</td>
                    <td><img src="../img/edit.png" class="edit_icon"/></td>
                    <td>
                        <input type="hidden" name="school.enabled" value="[[scoll.enabled]]" />
                        <select ng-model="school.enabled" ng-change="enableOrDisableSchool(this.val(), school)">
                            <option value="1">Enabled</option>
                            <option value="0">Disabled</option>
                        </select>
                    </td>
                </tr>
                <tbody>

                </tbody>
            </table> 
        </div>
        <div id="divInsertSchool">
            <table>
                <tr>
                    <td colspan="3"> <span>School Name</span>

                        <span><input type="text" id="txtSchoolName" ng-model="new_school.attributes.schoolName"/></span>
                    </td>
                </tr>
                <tr>
                    <td><span>Address Line1</span>
                        <span><input type="text" id="txtAddress1" ng-model="new_school.attributes.address1"/></span></td>

                    <td>
                        <span>Address Line2</span>
                        <span><input type="text" id="txtAddress2" ng-model="new_school.attributes.address2"/></span>
                    </td>
                    <td>
                        <span>Pin code</span>
                        <span><input type="text" id="txtPincode" ng-model="new_school.attributes.pincode"/></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Phone Number1</span>
                        <span><input type="text" id="txtPhone1" ng-model="new_school.attributes.phone1"/></span>
                    </td>
                    <td>
                        <span>Phone Number2</span>
                        <span><input type="text" id="txtPhone2" ng-model="new_school.attributes.phone2"/></span>
                    </td>
                    <td>
                        <span>Fax</span>
                        <span><input type="text" id="txtFax" ng-model="new_school.attributes.fax"/></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span>Country</span>
                        <span><select id="ddlCountry" ng-model="new_school.attributes.country">
                                <option value="1">India</option>
                            </select></span>
                    </td>
                    <td>
                        <span>State</span>
                        <span><select id="ddlState" ng-model="new_school.attributes.state">
                                <option value="1">Kerala</option>
                            </select></span>
                    </td>
                    <td>
                        <span>District</span>
                        <span><select id="ddlDistrict" ng-model="new_school.attributes.district">
                                <option value="1">Kollam</option>
                            </select></span>
                    </td>
                </tr>

                <tr>
                     <td>
                        <span>School Registration Code</span>
                        <span><input type="text" id="txtRegistration" ng-model="new_school.attributes.registration"/></span>
                    </td>
                     <td>
                        <span>School Website</span>
                        <span><input  id="txtWebsite" type="text" ng-model="new_school.attributes.website"/></span>
                    </td>
                    <td>
                        <span>Established Date</span>
                        <span><input  id="txtEstablishedDate" type="text" ng-model="new_school.attributes.establishedDate"/></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                         <span>No. of Login License</span>
                         <span><input type="text" id="txtLicense" ng-model="new_school.attributes.license"/></span>

                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span> School Administrator's Details</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Email Id</span>
                        <span><input type="text" id='txtAdminEmail' ng-model="new_school.attributes.email"/></span>
                    </td>
                    <td>
                        <span>First Name</span>
                        <span><input type="text" id='txtFirstName' ng-model="new_school.attributes.firstName"/></span>
                    </td>
                    <td>
                        <span>Last Name</span>
                        <span><input type="text" id='txtLastName' ng-model="new_school.attributes.lastName"/></span>
                    </td>

                </tr>
              
                <tr>

                    <td>
                        <span>Password</span>
                        <span><input type="text" id='txtAdminPassword' ng-model="new_school.attributes.password"/></span>
                    </td>
                    <td>
                        <span>Password Expiry Date</span>
                        <span><input type="text" id="txtPasswordExpiry" ng-model="new_school.attributes.expiryDate"/></span>
                    </td>
                    <td>
                        
                    </td>

                </tr>
                <tfoot>
                    <tr>
                        <th colspan="3"><input type="button" value="Save" id="btnSave"  ng-click="createSchool()"/>
                <input type="button" value="Cancel" onclick="cancelSchool();"/></th>
                    </tr>
                </tfoot>
            </table>


            <div>

            </div>
        </div>

    </body>
</html>
